html,body,#app{
  height:100%;
  margin: 0;
  padding:0;
}
/*行*/
.column{
  display: flex;
  flex-direction: column;
}
/*列*/
.row{
  display: flex;
  flex-direction: row;
}
/*高度100%*/
.h1{
  height:100%;
}
/*字体8px*/
.f8{
  font-size: 8px;
}
/*flex填充*/
.flex1{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/*取消ul的样式*/
.list {
  margin: 0;
  list-style: none;
  padding-left: 0;
  border: 0;
}
.mouse{
  cursor: pointer;
}
