html,body,#app{
  height:100%;
  margin: 0;
  padding:0;
}
/*行*/
.column{
  display: flex;
  flex-direction: column;
}
/*列*/
.row{
  display: flex;
  flex-direction: row;
}
.mouse{
  cursor: pointer;
}
